/*
  General
*/
  html {
    background: url('../img/cream_dust.png');
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
/*
  Image replacement HTML5 Boilerplate
*/
  .ir {
      background-color: transparent;
      border: 0;
      overflow: hidden;
      /* IE 6/7 fallback */
      *text-indent: -9999px;
  }
  
  .ir:before {
      content: "";
      display: block;
      width: 0;
      height: 100%;
  }

/*
  Typography
*/
  h1, h2, h3, h4 {
    font-family: 'Nunito', Arial, sans-serif;
  }
  
  p, a {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
  }
  
/*
  Header
*/
  header {
    background-color: #8f2513;
    
  }
  
  .header-main {
    padding: 5px 0;
  }
  
  .logo {
    display: block;
    margin-top: 7px;
    font-family: "Lobster", serif;
    text-decoration: none;
    color: #fff;
    font-size: 40px;
    float: left;
  }
    
  header nav {
    float: right;
    margin-right: 35px;
  }
  
  header nav ul {
    display: inline-block;
    vertical-align: middle;
  }
  
  header nav li {
    float: left;
    list-style: none;
    margin-right: 20px;
  }
  
  header nav a {
    display: block;
    border-radius: 3px;
    padding: 7px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  header nav a:hover, .active {
    background-color: #f7f2eb;
    color: #424254;
  }
  
  header .header-sub {
    background-color: #F0F0F0;
  }
  
  .header-sub .login-detail {
    float: right;
    margin-top: 5px;
    width: 270px;
  }
  
  .header-sub .login-detail img {
    float: left;
    width: 40px;
    margin-right: 5px;
  }
  
  .header-sub .login-detail a {
    margin-top: 1em;
    margin-left: 10px;
  }
  
  .header-sub .login-detail a, .header-sub .login-detail p {
    float: left;
  }
/*
  Search-bar
*/
  .search-container form {
    text-align: center;
  }
  
  .search-container input {
    border-radius: 10px;
    width: 300px;
    min-height: 25px;
    padding: 5px;
    outline: none;
    border: 1px #ccc solid;
  }
/*
  Movies
*/
  .movie-wrapper {
    margin-bottom: 30px;
  }
  
 