/*
  General
*/
  html {
    background: url('../img/cream_dust.png');
  }
  
  img, iframe {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .wrapper {
    padding: 0 10px;
  }
  
  .main-content, .register {
    background-color: #fff;
    margin-top: 20px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #e1e1e4;
  }
  
  .fine-print {
    font-size: 13px;
    color: #48484c;
    font-style: italic;
  }

/*
  Typography
*/
  h1, h2, h3, h4 {
    font-family: 'Nunito', Arial, sans-serif;
    color: #333333;
  }
  
  h1 {
    font-size: 36px;
  }
  
  h2 {
    font-size: 19px;
  }
  
  h3 {
    font-size: 17px;
  }
  
  p, a {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
  }
  
  a {
    color: #7F94B0;
    text-decoration: none;
  }
  
  p {
    font-size: 16px;
    line-height: 23px;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  li {
    margin: 5px 0;
  }
/*
  Button
*/
  .button {
    display: block;
    padding: 5px;
    border-radius: 3px;
    color: #fff;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
  }
  
  .button:hover {
    text-decoration: none;
  }
  
    
  .btn-green {
    background-image: #429212;
    background-image: -webkit-linear-gradient(bottom, #429212, #5cc51d);
    background-image: -moz-linear-gradient(bottom, #429212, #5cc51d);
    background-image: -o-linear-gradient(bottom, #429212, #5cc51d);
    background-image: -ms-linear-gradient(bottom, #429212, #5cc51d);
    background-image: linear-gradient(bottom, #429212, #5cc51d);
  }
  
  
 .btn-red {
    background-image: #b72d16;
    background-image: -webkit-linear-gradient(bottom, #b72d16, #cd3217);
    background-image: -moz-linear-gradient(bottom, #b72d16, #cd3217);
    background-image: -o-linear-gradient(bottom, #b72d16, #cd3217);
    background-image: -ms-linear-gradient(bottom, #b72d16, #cd3217);
    background-image: linear-gradient(bottom, #b72d16, #cd3217);
  }


/*
  Forms
*/
  form {
    margin-bottom: 20px;
  }
  
  fieldset {
    margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"],
  textarea,
  select {
    border: 1px solid #ccc;
    padding: 6px 4px;
    outline: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 13px;
    color: #777;
    margin: 0;
    width: 400px;
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
    background: #fff;
  }
  
  select {
    padding: 0;
  }
  
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    border: 1px solid #aaa;
    color: #444;
    -moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
    box-shadow:  0 0 3px rgba(0,0,0,.2);
  }
  
  textarea {
    min-height: 100px;
    
  }
  
  label,
  legend {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 13px;
  }
  
  select {
    width: 220px;
  }
  
  input[type="checkbox"] {
    display: inline;
  }
  
  input[type="submit"] {
    border: none;
  }
     
/*
  Header
*/
  header {
    background-color: #8f2513;
    border-bottom: 1px #ccc solid;
  }
  
  .header-main {
    padding: 5px 10px;
  }
  
  .logo {
    display: block;
    margin-top: 7px;
    font-family: "Lobster", serif;
    text-decoration: none;
    color: #fff;
    font-size: 40px;
    float: left;
  }
  
  .logo:hover {
    text-decoration: none;
  }
    
  header nav {
    float: right;
  }
  
  header nav ul {
    display: inline-block;
    vertical-align: middle;
  }
  
  header nav li {
    float: left;
    list-style: none;
    margin-right: 20px;
  }
  
  header nav li:last-child {
    margin-right: 0;
  }
  
  header nav a {
    display: block;
    border-radius: 3px;
    padding: 7px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  header nav a:hover, .active {
    background-color: #f7f2eb;
    color: #424254;
    text-decoration: none;
  }

/*
  Subheader
*/
  header .header-sub {
    background-color: #F0F0F0;
    padding: 0 10px;
  }
  
  .header-sub .login-detail {
    float: right;
    margin: 5px 5px 0 0;
    width: 210px;
  }
  
  .header-sub .login-detail img {
    float: left;
    width: 40px;
    margin-right: 5px;
  }
  
  .header-sub .login-detail a {
    margin-top: 1em;
    margin-left: 10px;
  }
  
  .header-sub .login-detail a, .header-sub .login-detail p {
    float: left;
  }
  
  .login {
    float: right;
    margin: 10px 0;
  }
  
  .login input {
    display: inline-block;
    width: 180px;
    margin-bottom: 0;
  }
  
  .login input[type="submit"], .login .button {
    width: auto;
    padding: 5px 10px;
  }
  
  .login .button {
    display: inline-block;
  }
  
  .login label {
    display: inline-block;
  }
  
/*
  Search-bar
*/
  .search-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .search-container .field {
    border-radius: 10px;
    width: 300px;
    min-height: 25px;
    padding: 5px;
    outline: none;
    border: 1px #ccc solid;
  }
  
  .search-container .button {
    display: inline-block;
    border-radius: 0 10px 10px 0;
    padding: 9px;
    margin-left: -63px;
  }
/*
  Movie grid
*/
  .movie-wrapper {
    margin-bottom: 30px;
  }
  
  .movie-wrapper article {
    width: 220px;
    margin: 0 auto;
  }
  
  .movie-wrapper .button {
    width: 100px;
    margin-top: 10px;
  }

/*
  Movie detail
*/
  .movie-info {
    margin-bottom: 20px;
    padding: 0 60px 20px 20px;
  }
  
  .movie-info img {
    float: left;
    margin-right: 20px;
  }
  
  .movie-info p {
  }
  
  .movie-info .button {
    width: 150px;
    margin-bottom: 10px;
    display: inline-block;
  }
  
  .movie-meta {
    margin-top: 50px;
    padding: 0 0 0 20px;
    border-left: 3px #b72d16 solid;
  }
  
  .movie-meta span {
    font-weight: bold;
  }
   .movie-meta ul {
     padding-left: 0;
   }
   
  .movie-meta li {
    list-style: none;
  }
  
  .movie-trailer {
    padding-left: 20px;
    margin-bottom: 20px;
  }
  
/*
  Home
*/
  .welcome {
    background: url('../img/poster.png') bottom right no-repeat, url('../img/bg_blur.jpg') no-repeat;
    margin: 20px 0 0 0;
    padding: 0 20px 10px 20px;
    border-radius: 5px;
    min-height: 320px;
  }
  
  .welcome h1 {
    color: #fff;
    padding: 20px 0 0 0px;
    font-size: 40px;
  }
  
  .welcome p {
    width: 60%;
    font-size: 22px;
    color: #fff;
  }
  
  .welcome .button {
    width: 220px;
    margin-top: 35px;
    padding: 12px;
    font-size: 20px;
    background-image: #8f2513;
    background-image: -webkit-linear-gradient(bottom, #429212, #5cc51d);
    background-image: -moz-linear-gradient(bottom, #429212, #5cc51d);
    background-image: -o-linear-gradient(bottom, #429212, #5cc51d);
    background-image: -ms-linear-gradient(bottom, #429212, #5cc51d);
    background-image: linear-gradient(bottom, #429212, #5cc51d);
  }
  
  .feature-wrap {
    margin: 20px 0;
  }
  
  .feature-wrap article {
    padding-left: 20px;
  }

  
  .feature-wrap article h2 {
    text-align: center;
  }
  
/*
  Contact
*/
  .contact-form {
    margin: 20px 0 0 0;
  }
  
  .contact-form input[type="submit"] {
    width: 200px;
  }

/*
  Register
*/
  .register {
    width: 340px;
    margin: 20px auto;
  }
  
  .register .button {
    width: 159px;
  }
/*
  Footer
*/
  footer {
    text-align: center;
  }
  
/*
  Media queries
*/
   
  @media handheld, only screen and (max-width: 930px) {
    .col-3-12 {
      width: 33.33%;
    }
  }
  
  @media handheld, only screen and (max-width: 738px) {
    .col-3-12, .col-4-12 {
      width: 50%;
    }
    
    
    .welcome {
      background:  url('../img/bg_blur.jpg') no-repeat;
    }
    
    .welcome h1 {
      font-size: 30px;
    }
    
    .welcome p {
      width: 100%;
    }
    
    .col-8-12 {
      width: 100%;
    }
    
    .movie-meta {
      border-top: 3px #b72d16 solid;
      border-left: none;
    }
    
    form.login {
      float: none;
    }
    
    .login input[type="email"],
    .login input[type="password"] {
      display: block;
      width: 70%;
      margin-bottom: 5px;
    }
  }
  
  @media handheld, only screen and (max-width: 480px) {
    .grid {
      width: 100%;
      min-width: 0;
      margin-left: 0px;
      margin-right: 0px;
    }
  
    [class*='col-'] {
      width: 100%;
      float: none;
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 10px;
      margin-bottom: 10px;
      padding-left: 20px;
      padding-right: 20px;
    }
  
     .header-main nav, .header-main .logo {
      float: none;
    }
  
  
    .header-main ul {
      margin: 10px 0;
      padding: 0;
    }
  
  
    .header-sub .login-detail {
      float: none;
    }
  
    .feature-wrap article {
      padding: 0;
    }
    
    .contact-form input[value="text"] {
      width: 100%;
    }
    
    .register {
      width: 100%;
    }
    
    .search-container .field {
      width: 90%;
    }
  }
  
/*
  Print
*/
  @media print {
    .header-main nav, .login-detail, form,
    .login, .welcome .button, .movie-wrapper .button {
      display: none;
    }
    
    .col-3-12 {
      width: 50%;
    }
    
    .main-content {
      border: none;
    }
    
    .movie-info img {
      float: none;
    }
  }
 